/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

/* Global CSS */
.primary-text{
  color: #545871;
}

label{
  color: #545871;
}

#schedule-button-secondary{
  background-color: #545871;
  border: none
}

#schedule-button-secondary:hover{
  background-color: #474b63;
}

#schedule-button-primary{
  color: #545871;
}